



.lecturer-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    align-items: center;
    /* mobile등은 그냥 빡세게 media coding하기 */
}

@media (max-width: 1300px) {
    .lecturer-container {
        grid-template-columns: repeat(5, 1fr);
    }
}
@media (max-width: 1100px) {
    .lecturer-container {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 900px) {
    .lecturer-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .lecturer-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

.lecturer-grid {
    /* 이거는 그냥 크기 없이 하는것이 좋을듯 */
    display: grid;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-template-rows: 5fr repeat(5, 1fr);
    grid-template-columns: auto;

    border: 2px black solid;
}

.lecturer-grid {
    padding: 1rem;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
      0 5px 15px 0 rgba(0,0,0,0.08);
    background-color: #ffffff;
    border-radius: 0.5rem;
    
    border-left: 0 solid #00ff99;
    transition: border-left 300ms ease-in-out, padding-left 300ms ease-in-out;
}

.lecturer-grid:hover {
    padding-left: 0.5rem;
    border-left: 0.5rem solid #00ff99;
}

.lecturer-grid > :first-child {
    margin-top: 0;
}

.lecturer-grid > :last-child {
    margin-bottom: 0;
}

.lecturer-profile-image {
    width: 140px;
    height: 140px;
}

.lecturer-name {
    padding-left: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
}
