

.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(23, 31, 41);
    
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 70px;

    z-index: 100;

    font-size: 14px;
}


.header-flex-item-left {
    margin-left: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.header-flex-item-left:hover {
    border: white 1px solid;
}
.header-flex-item-left:active {
    background-color: white;
}
.main-logo {
    width: 100px;
}

.header-flex-item-middle,
.header-flex-item-middle-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.header-flex-item-middle-mobile {
    display: none;
}

.middle-text {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    flex-shrink: 0;
    transition-property: color, font-size, text-decoration, font-weight;
    transition-duration: 0.15s;
}
.middle-text:hover {
    color: rgb(164, 181, 255);
    text-decoration: underline;
    font-size: 18px;
    font-weight: 500;
}
.middle-text:active {
    background-color: rgba(255, 255, 255, 0.193);
    border-radius: 2px;
    padding: 4px 10px;;
}



.middle-text-mobile {
    color: white;
    font-size: 30px;
    font-weight: 500;
}


.video-container,
.video-main {
    z-index: 10;
    position: relative;
}

.header-flex-item-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}






.hamburger-menu {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: 10px;
    padding: 0px 10px;
}
.hamburger-menu:active {
    opacity: 0.4;
}

.hamburger-menu .bar {
    display: none;
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 10px 0;
    transition: 0.3s;
}


.mobile-menu {
    display: none;
    background-color: rgb(17, 23, 31);
    position: absolute;
    top: 70px; 
    right: 0;
    text-align: center;

    flex-direction: column;
}

.mobile-menu-item {
    color: white;
    text-decoration: none;
    flex-shrink: 0;
    padding: 10px 30px 10px 30px;
}
.mobile-menu-item:hover {
    color: rgb(164, 181, 255);
}



@media (max-width: 768px) {
    .header-flex-item-middle,
    .header-flex-item-right {
        display: none;
    }
    .hamburger-menu,
    .hamburger-menu .bar {
        display: block;
    }
    .header-flex-item-middle-mobile {
        display: flex;
    }
}

/* .header-flex-item-left {
    min-width: 0;
    max-width: 100%;
}

.header-flex-item-left {
    flex: 0 1 auto; 
} */
