

.intro {
    height: 600px;
}

.intro-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.intro-context {
    display: flex;
    flex-direction: column;
}
.intro-hello1 {
    margin-top: 50px;
    height: 80px;
    font-size: 24px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-hello2 {
    height: 60px;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-hello3 {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-qna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 20px;
    font-size: 20px;
}

.intro-qna-abstract {
    font-size: 14px;
    font-weight: 500;
}
.intro-qna-explain {
    font-size: 14px;
    font-weight: 300;
}





@media (max-width: 768px) {
    .intro-cep-image-grid,
    .intro-ceo-image,
    .intro-ceo-logo {
        display: none;
    }
}


.intro-ceo-image-grid {
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
}
.intro-ceo-image {
    height: 460px;
}

.intro-ceo-logo {
    position: absolute;
    height: 60px;
    bottom: 0;
    left: 0;
    background-color: white;

}